@font-face {
    font-family: 'Acherus Feral Bold';
    src: url('./../fonts/HorizonTypeAcherusFeralBold.eot');
    src: url('./../fonts/HorizonTypeAcherusFeralBold.eot') format('embedded-opentype'),
         url('./../fonts/HorizonTypeAcherusFeralBold.woff2') format('woff2'),
         url('./../fonts/HorizonTypeAcherusFeralBold.woff') format('woff'),
         url('./../fonts/HorizonTypeAcherusFeralBold.ttf') format('truetype'),
         url('./../fonts/HorizonTypeAcherusFeralBold.svg#HorizonTypeAcherusFeralBold') format('svg');
}

@font-face {
    font-family: 'Acherus Feral';
    src: url('./../fonts/HorizonTypeAcherusFeralLight.eot');
    src: url('./../fonts/HorizonTypeAcherusFeralLight.eot') format('embedded-opentype'),
         url('./../fonts/HorizonTypeAcherusFeralLight.woff2') format('woff2'),
         url('./../fonts/HorizonTypeAcherusFeralLight.woff') format('woff'),
         url('./../fonts/HorizonTypeAcherusFeralLight.ttf') format('truetype'),
         url('./../fonts/HorizonTypeAcherusFeralLight.svg#HorizonTypeAcherusFeralLight') format('svg');
}
